

.initialpageLight{
    background-color: rgb(235, 235, 235);
    color: black;
}
.initialpageDark{
    background-color: #252323;
    color: white;
}



.capa{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../../public/assets/banner-barbearia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.capa h1{
    font-family: 'Gajraj One';
    color: white;
    font-size: 80px;
    box-shadow: 0 0 10px 0px white;
    padding: 0 150px;
}


.descr{
    width: calc(100% - 200px);
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.descr h2{
    font-size: 19px;
}


