.headerLight{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 200px);
    padding: 0 100px;
    height: 65px;
}
.headerDark{
    background-color: #282323;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 200px);
    padding: 0 100px;
    height: 65px;
}

.div-logo{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.div-logo img{
    width: 100px;
    height: 65px;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

/*Dark Mode Teme*/
.button-dark{
    background: url("../../../public/assets/moon.png");  
    color: black;
}
.button-light{
    background: url("../../../public/assets/sun.png");
    color: #ffffff;
}

#button-dark-mode{
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 15px center;
    width: 100px;
    height: 35px;
    text-align: end;
    padding-right: 20px;
    border: 1px solid rgb(156, 156, 156);
    border-radius: 20px;
}
#button-dark-mode:hover{
    cursor: pointer;
    box-shadow: 0 0 5px rgb(141, 141, 141);
    transition: 0.3s;
    font-weight: 400;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
}

/*Links DarkMode*/
.linksLight{
    color: rgb(255, 255, 255); 
    text-decoration: none;
    border-right: 1px solid rgb(179, 179, 179);
    width: 100px;
    text-align: center;
    padding: 10px 0
}
.linksDark{
    color: black; 
    text-decoration: none;
    border-right: 1px solid rgb(179, 179, 179);
    width: 100px;
    text-align: center;
    padding: 10px 0
}



#link1:hover, #link2:hover, #link3:hover{
    background-color: rgb(175, 175, 175);
}
